@charset "ISO-8859-1";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(57, 149, 168);
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.chambre {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.chambre p {
    margin: 0;
}

.chambre p strong {
    font-weight: bold;
}

.header{
	background : url("https://i.ibb.co/8gwmbHH/pexels-monkeytactics-764830.jpg");
	background-position:center;
    background-size: cover;
    width: 100%;
    height: 450px ;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:38px;
}
#nameHotel{
	font-size:44px;
	color:#FFFF25;
	font-weight:bold;
}

#discover{
    background-color:rgba(255, 255, 255, 0.48);
    font-size: 18px;
    font-weight: bold;
    padding: 14px 200px;
    border-radius: 30px;
    border-style: none;
    cursor:pointer;
}


\\Cards Room

.cardsRoom{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap:wrap;
}


.card {
    width: calc(33.33% - 40px); 
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.card #idRoom {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.card #type {
    font-size: 16px;
    color: #555;
}

.card #prix {
    font-size: 16px;
    color: #555;
}

.card #equipements {
    font-size: 14px;
    color: #777;
}

.card #nombresPersonnes {
    font-size: 14px;
    color: #777;
}

.card button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #0056b3;
}
#cardsRoomType,#cardsRoomNumberPerson,#cardsRoom,#cardsRoomDate{
	background:#cce0ff;
	display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap:wrap;
    padding:30px 20px;
}

#btn-consultreserv{
    background-color: rgba(60, 155, 190, 0.6);
    color:white;
    font-size: 18px;
    font-weight: bold;
    padding: 14px 200px;
    border-radius: 30px;
    border-style: none;
    cursor:pointer;
    transition:background-color 0.3s;
}
#btn-consultreserv:hover{
    background-color: rgba(70, 110, 180, 0.6);
}
\\search 

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-group {
	display:flex;
	flex-direction:row;
	padding:10px;
    margin-bottom: 20px;
}

.search-group input[type="date"],
.search-group input[type="text"],
.search-group input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    width: 200px;
}

.search-group button {
    padding: 8px 16px;
    background-color: #808080;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-group button:hover {
    background-color: #004000;
}

\\ Formulaire de reservation

#reserveRoom{
	background-color:red;
}
form {
        max-width: 400px;
        margin: 0 auto;
    }
    label {
        display: block;
        margin-bottom: 5px;
    }
    input[type="date"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color: #0056b3;
    }
    
    

\\Cards Reservation

.cardsReservation{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap:wrap;
}

.card-reserve {
    width: calc(90% - 40px); 
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}
#card2{
	background:#a3ed9a;
	display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap:wrap;
    padding:30px 20px;
}
.card-reserve #idReservation {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.card-reserve #type {
    font-size: 16px;
    color: #555;
}

.card-reserve #prix {
    font-size: 16px;
    color: #555;
}

.card-reserve #equipements {
    font-size: 14px;
    color: #777;
}

.card-reserve #nombresPersonnes {
    font-size: 14px;
    color: #777;
}

.card-reserve #dateArrivee {
    font-size: 14px;
    color: #777;
}

.card-reserve #dateDepart {
    font-size: 14px;
    color: #777;
}

#btn-consultchambre{
    background-color: rgba(102, 205, 170, 0.6);
    font-size: 18px;
    font-weight: bold;
    padding: 14px 200px;
    border-radius: 30px;
    border-style: none;
    cursor:pointer;
    transition:background-color 0.3s;
}
#btn-consultchambre:hover{
    background-color: rgba(152, 255, 190, 0.6);
}
#cnsltReserveButton,#cnsltchambre{
	margin:20px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.roomAvailable,.consultReservation{
	display:flex;
	flex-direction:column;
	align-items:center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 50px 50px;
}

.container-footer {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}


.footer-content {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-section h2 {
    margin-bottom: 20px;
}

.footer-section p, .footer-section ul {
    font-size: 14px;
    line-height: 24px;
}

.footer-section ul {
    padding: 0;
}

.footer-section ul li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section ul li span {
    margin-right: 10px;
}

